
<!doctype html>
<html lang="en-Us">
<head>

	<meta charset="utf-8">
    
	<title>Login with Facebook or Twitter</title>
	
	<link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Open+Sans:400,300'>

	<!--[if lt IE 9]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

</head>

<center><h1>Login with Twitter to compare CryptoCurrencies</h1></center>
<div id="login">

        <p>

			<a class="twitter-before"><span class="fontawesome-twitter"></span></a>
			<button class="twitter" onclick="location.href='/auth/twitter';">Login Using Twitter</button>

		</p>
</div>

</body>
</html>
