<h1> Values of CryptoCurrencies </h1>

<% if params[:id] %>

<h3> Price  of </h3>
<% else %>
<h3> Choose a currency please: </h3>
<% end %>

<%=Crypto.last.curr_typ %> : <%=Crypto.last.val %> 
</br>
<a href="https://twitter.com/intent/tweet?button_hashtag=cryptocurrencies&ref_src=twsrc%5Etfw" class="twitter-hashtag-button" data-show-count="false">Tweet #cryptocurrencies</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

